/* Reset */
* {
	margin: 0;
	padding: 0;
}

html {
	min-width: 960px;
	min-height: 100%;
	position: relative;
}

body {
	background: #eeeeee;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    margin: 0 0 79px;	/* Footer height + container top/bottom margin */
}

header {
	width: 100%;
	background-image: url('/imgs/layout/header-bg.jpg');
	box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
	margin: 0 0 10px;
}

.topNav {
	width: 100%;	
	margin: 0px auto;
	overflow: hidden;
	position: relative;
}

.topNav ul {
	clear: left;
	float: left;
	list-style-type: none;
	position: relative;
	left: 50%;
}

.topNav ul li {
	float: left;
	display: inline-block;
	border-left: solid thin #000;
	text-align: center;
	position: relative;
	right: 50%;
}

.topNav ul li:last-child {
	border-right: solid thin #000;
}

.topNav ul li a {
	display: block;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #ffffff;
	padding: 25px 20px;
	outline: 0
}

.topNav ul li a:hover,
.topNav ul li#active a {
	background-color: #222222;
}

.container {
	width: 930px;
	margin: 20px auto;
	background: #ffffff;
	border: 1px solid #e0e0e0;
	padding: 15px;
	border-radius: 15px;
}

footer {
	width: 100%;
	height: 59px;
	background-image: url('/imgs/layout/header-bg.jpg');
	box-shadow: 0px -3px 2px rgba(0, 0, 0, 0.25);
	position: absolute;
	bottom: 0;
	left: 0;
}
